<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>
    <ul>
      <li>Current Metal Level for @Model.GetName(): @Model.GetFood()</li>
      <li>Current Attention for Level @Model.GetName(): @Model.GetAttention()</li>
      <li>Current Rest Level for @Model.GetName(): @Model.GetRest()</li>
    </ul>
    <a href="/">Add another たまごっち</a>
  </body>
</html>
